<form method="POST" action="/update_user">
    <h4>Update User</h4>
 
        <label>Name</label>
        <input type="text" name="txt-name" placeholder="Enter your name!" value="{{all_users.name}}"><br><br>
        <label>Email</label>
        <input type="text" name="txt-email" placeholder="Enter your email!" value="{{all_users.email}}"><br><br>
        <label>Password</label>
        <input type="password" name="txt-pword" placeholder="Enter your password!" value="{{all_users.password}}"><br><br>
  
        <input type="submit" value="Register!"><br><br>
    </form>